<% if current_user %>
    <div class="container">
    <div class="page-header">
      <h1 >Here is some info about you...</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          <li><strong>Name:</strong> <%= current_user.name %></li>
          <li><strong>Provider:</strong> <%= current_user.provider %></li>
          <li><strong>uID:</strong> <%= current_user.uid %></li>
          <li><strong>Location:</strong> <%= current_user.location %></li>
          <li><strong>Avatar URL:</strong> <%= current_user.image_url %></li>
          <li><strong>URL:</strong> <%= current_user.url %></li>
        </ul>
      </div>
    </div>
    </div>
<% else %>
    <%= render 'welcome' %>
<% end %>


<% @journals.each do |journal| %>
    <div class="row">
      <div class="col-lg-8 col-sm-offset-1">
        <div class = "wrapper text-center">
          <%= image_tag journal.image.url(:thumb).to_s %>
          <h1 class="image-text"><%= link_to journal.title, journal %></h1>
          <br>
          <br>
          <h5 class="image-text2"><%= link_to journal.user.name, journal %></h5>

        </div>

      </div>




<% end %>

</div>