<%= form_for @journal, :html => {:multipart => true} do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>
      <% @journal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

  <div class="form-group">
    <%= f.label :title, "Destination" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content, "Destination Details" %><br>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Upload an Image" %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= f.label :remote_image_url, "Upload an image from a URL" %><br>
      <%= f.text_field :remote_image_url, class: "form-control" %>
    </div>

  <div class="actions text-center">
    <%= f.submit "Submit", "class" => "btn btn-primary"%>
  </div>

      </div>
    </div>
<% end %>

