<p id="notice"><%= notice %></p>
<div class="jumbotron col-md-6 col-md-offset-3">
  <div class="row">
<h2 class="main-my-journal text-center">My Journals</h2>
</div>
  </div>

    <% @journals.each do |journal| %>
    <div class="row">
      <div class="col-lg-6 col-sm-offset-3">
<div class = "wrapper text-center">
  <%= image_tag journal.image.url(:thumb).to_s %>
          <h1 class="image-text"><%= link_to journal.title, journal %></h1>
          <!--<h5 class="image-text"><%= journal.content %></h5>-->
  <br>
  <br>
  <%= link_to 'Edit Your Journal', edit_journal_path(journal), "class" => "btn btn-primary text-center" %>
  <br>
  <br>
  <%= link_to 'Delete this Journal', journal, method: :delete, data: { confirm: 'Are you sure?' }, "class" => "btn btn-primary" %>

</div>

        </div>
          <br>



    <% end %>



</div>

<%= link_to 'New Journal', new_journal_path, "class" => "btn btn-inverse btn-large active" %>