<p id="notice"><%= notice %></p>

<h1>My Journals</h1>
<%= link_to 'New Journal', new_journal_path %>


    <% @journals.each do |journal| %>
    <div class="wrapper">
        <p><%= journal.title %></p>
        <p><%= journal.content %></p>
        <p><%= image_tag journal.image.url(:thumb).to_s %></p>
        <p><%= link_to 'Show', journal %></p>
        <p><%= link_to 'Edit', edit_journal_path(journal) %></p>
        <p><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <br>
    </div>

    <% end %>




<!--<div class="wrapper">-->
  <!--<img src="http://lorempixel.com/g/400/200/" alt="" />-->
  <!--<div class="overlay">-->
    <!--<h2>Image Name</h2>-->

  <!--</div>-->
<!--</div>-->