<p id="notice"><%= notice %></p>

<!--<p>-->
  <!--<strong>User:</strong>-->
  <!--<%= @journal.user %>-->
<!--</p>-->

<h2>
  <strong>Trip:</strong>
  <%= @journal.title %>
</h2>

<p>
  <strong>Content:</strong>
  <%= @journal.content %>
</p>

<p>
  <strong>Image:</strong>

<p><%= image_tag @journal.image.url(:thumb).to_s %></p>
</p>

<p>
  <strong>User Name:</strong>
  <%= @journal.user.name %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>



<h2>Journal Entries</h2>
<% if @journal.entries.length > 0 %>
    <% @journal.entries.each do |entry| %>
        <p>
          <b>Author:</b>
          <%= entry.author %>
        </p>

        <p>
          <b>Image:</b>
          <%= entry.image %>
        </p>

        <p>
          <b>Entry:</b>
          <%= entry.body %>
        </p>
    <% end %>
<% else %>
    <h3>No entries are posted for this journal.</h3>
<% end %>



<h2>Add an Entry:</h2>
<%= form_for([@journal, @journal.entries.build]) do |f| %>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.text_field :image %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>